{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": [2, 23],
		"id-length": [2, { "min": 1, "max": 40 }],
		"max-statements": [2, 23],
		"max-statements-per-line": [2, { "max": 2 }],
		"no-restricted-syntax": [2, "BreakStatement", "ContinueStatement", "LabeledStatement", "WithStatement"],
		"operator-linebreak": [2, "after"]
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-params": [2, 3],
				"no-invalid-this": 1,
				"no-magic-numbers": 0,
			},
		},
	],
}
