{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": [2, 11],
		"max-params": [2, 3],
		"max-statements": [2, 23],
		"no-extra-parens": [1],
		"operator-linebreak": [2, "after"]
	}
}
